/*Cambia el color de fondo de la pagina en general*/
.content{
    background-color: rgb(241, 228, 248);
}
/*Cambia el color de fondo del encabezado*/
.header__banner{
    background-color: rgb(79, 13, 165);
}
/*Cambia el color de la letra del titulo*/
.galery__link{
    color: rgb(248, 159, 104);
}
/*Cambia el tipo de letra del titulo a Oswald*/
/*Cambia el tamaño de la letra del titulo a 36px*/
.banner__title{
    font-family: "Sans Serif", Arial, Sans-Serif;  /* falta */
    font-size: 36px;
}
/*Cambia el tipo de letra del titulo de la galeria a Oswald*/
/*Cambia el color de la letra del titulo de la galeria*/
/*Cambia el tamaño de la letra del titulo de la galeria a 24px*/
.galery__issue{
    font-family: "Sans Serif", Arial, Sans-Serif;
    color: rgb(213, 12, 12);
    font-size: 24px;
}
/*Cambia el tipo de letra del titulo de la galeria a Montserrat*/
/*Cambia el color de la letra del titulo de la galeria*/
/*Cambia el tamaño de la letra del titulo de la galeria*/
.galery__figure{
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
}
/*Cambia las dimensiones de las fotos de la galeria*/
/*imagen1*/
.galery__figure > img:nth-child(1){
    width: 300px;
    height: 150px;
}
/*imagen2*/
.galery__figure > img:nth-child(2){
    width: 200px;
    height: 250px;
}
/*imagen3*/
.galery__figure > img:nth-child(3){
    width: 100px;
    height: 150px;
}
/*imagen4*/
.galery__figure > img:nth-child(4){
    width: 450px;
    height: 270px;
}
/*imagen5*/
.galery__figure > img:nth-child(5){
    width: 400px;
    height: 250px;
}
/*Cambiar el de fondo del pie de pagina*/
/*Cambia la alineacion del texto a al centro*/
.footer{
    background-color: rgb(92, 92, 92);
    text-align: center;
}
/*Cambia el tipo de letra del pie de pagina a Montserrat*/
/*Cambia el color de la letra del pie de pagina*/
/*Cambia el tamaño de la letra del pie de pagina a 30px*/
.paragraph__text{
    font-family: "Sans Serif", Arial, Sans-Serif;
    color: rgb(159, 145, 172);
    font-size: 30px;
}
